@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.black-navbar{
    height: 5vh;
    background-color: #000;
    display: flex;
    justify-content: end;
    align-items: center;
}

.black-navbar a{
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
}

.black-navbar a:hover{
    opacity: 0.8;
}

.main-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    height: 15vh;
}

.main-navbar img{
    margin-left: 50px;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-right: 40px;
}

.menu a{
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu a:hover{
    font-weight: 600;
}

.nav-btn{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 15px;
}

.nav-btn:hover{
    color: #fff;
    background-color: #373437;
    border: 1px solid #fff;
    box-shadow: 5px 5px 20px #373437;
    transition: ease-out 0.3s;
}